<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php">
  <testsuites>
    <testsuite name="queries">
      <directory>queries/</directory>
    </testsuite>
    <testsuite name="schema">
      <directory>schema/</directory>
    </testsuite>
    <testsuite name="Miscellaneous">
      <directory>misc/</directory>
    </testsuite>
  </testsuites>
</phpunit>
